body{
    color: #222;
}

#thirteen05-carousel{
  height: 80vh;
  background-color: #222;
  
  .carousel-inner{
    height: 100%;
    
    #home-carousel-slide-1{
      
      img{
        
      }
    }
  }
  
  .carousel-caption h1{
    font-size:5rem;
  }
}

#section-home-jumbo-1 .jumbotron{
  min-height: 80vh;
  background-image: url(images/thirteen05-blue-square-bg.jpg);
  
}

#section-home-jumbo-2 .jumbotron{
  background-image: url(images/thirteen05-blue-square-bg.jpg);
  padding-bottom: 0px;
  background-attachment: fixed;
  
  #img-iphone6{
    -webkit-filter: drop-shadow(0px -10px 4px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
    max-width: 100%;
    position: relative;
    top: 30px;
  }
  
  p{
    border-left: 6px double white;
  }
  
  h2{
    
    span{
      font-size: 2rem;
      letter-spacing: -1px;
      position: relative;
      bottom: 8px;
    }
    
  }
}

#section-home-buckets{
  
  h3{
    font-size: 2.5rem;
  }
}



//Fade Carousel

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
            height: 100%;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}

.carousel, .item, .active {
height:100%;
}
.carousel-inner {
height:100%;
}