.no-padding{
	padding: 0px;
}

.no-margin{
	margin: 0px;
}

.btn-dd{
	border-radius: 0px;
	margin-top: 10px;
    border-radius: 0px;
    font-family: 'Ubuntu', sans-serif;
    transition: all .2s;
    text-transform: uppercase;
    letter-spacing: 2px;

}